/* HEADER */
header {
    background: #3aff44;
    color: #741a56;
    padding: 1rem;
    text-align: center;
}

/* NAVIGASI */
nav {
    background: #fcff3c;
    padding: 0.5rem;
    text-align: center;
}

nav a {
    color: rgb(127, 153, 9);
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* KONTEN UTAMA */
main {
    padding: 1rem;
    display: block; /* agar turun ke bawah, bukan flex kanan-kiri */
}

section {
    background: #9afcff;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

/* FOOTER */
footer {
    text-align: center;
    background: #38c7ff;
    color: #0f0000;
    padding: 1rem;
    margin-top: 1rem;
}

/* TEXT */
p {
    color: #581212;
    font-weight: bold;
}
